*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.StoryContainer{
    background-image: url("../assets/kisspng-paper-parchment-stationery-template-scroll-mystique-5ad0f99fa115d8.2024629015236448316598.png");
    background-size: cover;
    background-position: center;
    height: 4500px;
    width:100%;
} 

.FlexRow {
 display:flex;
 flex-direction: row;
} 

.SSContainer{
    display:column;
    width:80%;
}