.StoryHPContainer {
    display:flex;
    flex-direction: column;
    border: 5px solid orange;
    height:3800px;
    width:100%;
    padding:30px;
    overflow:hidden;
}

.Pcontainer {
display:flex; 
flex-direction:column; 
height:450px;
margin:10px;
border: 0px solid yellowgreen;
text-align:justify;
font-size: 1.2rem;
}

.Fonts{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.FontTitle{
font-family:'Times New Roman', Times, serif;

}

.ImgHarry{
height:200px;
width:350px;
float:right;
margin:10px;
border-radius: 20px;;
}