.StoryHPContainer {
    height: 3800px;
    width: 100%;
    /* overflow:hidden; */
}

.Pcontainer {
    height: 440px;
    margin: 20px;
    text-align: justify;
    font-size: 1.3rem;
}

.smallpContainer {
    height: 270px;
    margin: 20px;
    /* background-color: aqua; */
    text-align: justify;
    font-size: 1.3rem;
}

.mediumpContainer {
    height: 350px;
    margin: 20px;
    text-align: justify;
    font-size: 1.3rem;
}


.Fonts {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.FontTitle {
    font-family: 'Times New Roman', Times, serif;

}

.ImgHarry {
    height: 170px;
    width: 260px;
    float: right;
    margin: 65px 20px 10px 10px;
    border-radius: 20px;
}